grant codeBase "file:/E:/work/after89/bradypod/bradypod.commons/commons-util/target/test-classes/*" {  
    permission java.security.AllPermission;  
};