body {
	background: #fff none repeat scroll 0 0;
	color: #666;
	font: 12px/150% Arial, Verdana, "宋体";
}

#shortcut {
    background: #f1f1f1 none repeat scroll 0 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

#main {
	margin: 7px auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
	width: 960px;
}

#content {
	background-color: #fff;
	text-align: center;
	padding: 2px;
}

.top {
	text-align: center;
	height: 65px;
}

.logo {
	height: 60px;
	width: 270px;
	float: left;
	position: relative;
}

.form {
	border: 0 none;
}

.search {
	float: left;
	margin: 15px 0 0 20px;
}

.rightSection {
	float: right;
	position: relative;
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #dfdfdf;
	height: 34px;
	line-height: 34px;
	padding: 0 28px 0 36px;
	text-align: center;
	width: 75px;
	margin: 15px 0 0 20px;
}

#menu {
	background: blue;
	text-align: center;
	float: left;
	padding: 0;
	width: 100%;
	margin: 5px 0;
	height: 30px;
}

#banner {
	width: 100%;
}

#footer {
	text-align: left;
}

img {
	border: 0 none;
}

a,
a:link,
a:active,
a:visited {
	color: #3399fd;
	text-decoration: none;
}