grant codeBase "file:E:\work\after89\bradypod\bradypod.shop\shop.item.center.web\target\test-classes\" {
    permission java.net.SocketPermission "*:1024-", "connect,accept";
};